.container {
  .list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1rem;
  }

  .notFound {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 3px;
  }
}

// @media (max-width: 1600px) {
// }

// @media (max-width: 1400px) {
// }

// @media (max-width: 1200px) {
// }

@media (max-width: 992px) {
  .container {
    .list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media (max-width: 768px) {
  .container {
    .list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@media (max-width: 576px) {
  .container {
    .list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

// @media (max-width: 480px) {
// }

// @media (max-width: 320px) {
// }
