.mealSection {
  padding: 2rem 0;

  .wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 1rem;
  }
}

// @media (max-width: 1600px) {
// }

// @media (max-width: 1400px) {
// }

// @media (max-width: 1200px) {
// }

@media (max-width: 992px) {
  .mealSection {
    .wrapper {
      grid-template-columns: 1fr;
    }
  }
}

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }

// @media (max-width: 480px) {
// }

// @media (max-width: 320px) {
// }
